/* .challenge-question-background
{
    transform: translateY(-20px);
    background-color: red;
    height:100%;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color: white;}
    25%  {background-color: #ff5b5b;}
    50%  {background-color: white;}
    75%   {background-color: #ff5b5b;}
    100%   {background-color: white;}
} */