.gambleAmount-container
{
	border: 1px solid #d6d6d6;
	margin-top: 10px;
	background-color: white;
	padding:10px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 20px;
}

.gambleAmount-container:active { 
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}