body
{
	background-color: #d8d8d8;
	font-family: 'Quicksand', sans-serif;
}

.header-container
{
	border: 1px solid #d6d6d6;
	margin-bottom: 20px;
	background-color: white;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo
{
	font-size:40px;
}

.coins
{
	font-size:40px;
}

.coin
{
	width:10%;
}

.header-button
{
	font-size:20px;
	border: 1px solid #d6d6d6;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.header-button:active { 
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}