body
{
	background-color: white;
	font-family: 'Quicksand', sans-serif;
}

.header-container
{
	border-bottom: 1px solid #005c84;
	margin-bottom: 20px;
	background-color: #9ee1ff;
	color:black;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo
{
	font-size:40px;
}

.coins
{
	font-size: 40px;
}

.header-button
{
	color:white !important;
}

.header-button:hover
{
	cursor: pointer;
	color:#ed8c72 !important;;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.header-button:active
{
	transform: translateY(2px);
}