body
{
	background-color: white;
	font-family: 'Quicksand', sans-serif;
}

.header-container
{
	position:relative;
	margin-bottom: 20px;
	background-color: white;
	color:white;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-row
{
	height:100px;
}


.logo
{
	position: absolute;
	font-size:40px;
	top:50%;
	transform: translateY(-50%);
}

.icon-container
{
	position: absolute;
	font-size:40px;
	top:50%;
	transform: translateY(-50%);	
	right:20px;
}

.coins
{
	position: absolute;
	font-size:40px;
	top:50%;
	transform: translate(-50%, -50%);
	left:50%;

}

#coins
{
	width:40px;
	align:middle;
}
.coin
{
	width:10%;
}

.header-button
{
	color:white !important;
	font-size: 100% !important;
}


.header-button:hover
{
	cursor: pointer;
	color:#ffeb59 !important;;
    text-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.header-button:active
{
	transform: translateY(2px);
}

.avatar
{
	color:white !important;
}

.icon-name
{
	font-size: 15px;
}

.user-icon
{
	height:70px;
}

.header-button
{
	position: relative;
}


.header-button .header-tooltip
{
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;

	position: absolute;
	top:120%;
	right:0%;
	z-index: 6;
}

.header-button:hover .header-tooltip
{
	visibility: visible;
}















@media screen and (max-width: 768px)
{
	.header-row
	{
		height: 200px;
	}
}