.choice-container
{
	margin-top: 20px;
	background-color: white;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 20px;
	cursor:default;
}

.topic-container
{
	margin-top:20px;
	margin-bottom: 10px;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	font-size: 20px;
	cursor:default;
	color:white;
	border-radius: 5px;
	width:100%;
}


.topic-header
{
	font-size: 25px;
}

.selection-header
{
	font-size: 30px;
}

.hand-selected
{
	color:#00db06 !important;
}

.cover-challenge-view-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    display: none;
}

.cover
{
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 50%;
	z-index: 3;
	transform: translateX(-50%);
	width:100vw;
	height:100%;
}

.cover-challenge-view-result
{
	border-radius: 5px;
	font-size:40px;
	background-color: white;
	padding:20px;
	position: absolute;
	top:10%;
	left:50%;
	transform: translateX(-50%);
	width:70%;
}

.display
{
	display: block;
}

.challenger
{
	font-size:25px;
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	cursor: pointer;
	padding:5px;
	padding-left: 20px;
	margin-right:20px;
}

.challenger:hover
{
	background-color: #ffced4;
}

.challenger:active
{
	transform: translateY(2px);
}

.challenger-active
{
	border:1px solid red;
	background-color: #ff99a6;
}

.challenger-active:hover
{
	border:1px solid red;
	background-color: #ff99a6;
}