.choice-container
{
	border: 1px solid #d6d6d6;
	margin-top: 20px;
	background-color: white;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 20px;
	cursor:default;
}

.topic-container
{
	margin-top:20px;
	margin-bottom: 10px;
	padding:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	font-size: 20px;
	cursor:default;
	background-color: #6400a8;
	color:white;
	border-radius: 5px;
	width:100%;
}


.topic-header
{
	font-size: 25px;
	background-color: #6400a8;
}

.selection-header
{
	font-size: 30px;
}

.hand-selected
{
	color:#00db06 !important;
}