.questionContainer
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	background-color: white;
	padding:20px;
}

.stats
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	background-color: white;
	padding:20px;	
}

.stats-topic
{
	font-weight: bold;
}

.stats-value
{
	font-size: 15px;
}

.questionText
{
 	position: absolute;
	top:50%;
	transform: translateY(-50%); 
	font-size: 40px;
}

.questionContainer-image
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	padding:20px;
}

.questionText-image
{
	font-size: 40px;
}

.answerContainer
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	margin-top:10px;
	margin-bottom: 10px;
	background-color: white;
	cursor: pointer;
}

.answerContainer:active { 
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.middleAnswer
{
	border: 1px solid #d6d6d6;
	margin-bottom: 20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
}

.selected-answer
{
	border: 1px solid #009ec1;
	background-color: #00d0ff;	
}

.answer2
{
	margin-top: 20px;
}

.submit
{
	margin-top:20px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	right:0px;
}

.question-pic
{
	width:100%;
	overflow:hidden;
}

.test
{
	border:1px solid red;
}

.test2
{
	border:1px solid blue;
}


@media screen and (max-width: 760px)
{
	.questionContainer
	{
		position: static;
	}

	.questionText
	{
		top:0%;
		transform: translateY(0%);
		position: static;
		font-size: 40px;
	}

	.answer1
	{
		margin-top: 20px;
	}
}