.complete-topic
{
	margin-bottom:20px;
}

.topic
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	margin-top:10px;
	background-color: white;
	font-size: 20px;
	font-weight: bold;
}

.subtopic
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	background-color: white;
}

.subtopic:hover
{
	background-color: #f2f2f2;
}
.reset
{
	color:#ff9eb9 !important;
}

.reset:hover
{
	cursor: pointer;
	color:#ff477a !important;
}

.reset:active { 
    transform: translateY(2px);
}