.topicContainer
{
	border: 1px solid #dba3ff;
	padding:20px;
	margin-top:4px;
	margin-bottom: 4px;
	background-color: white;
	color:black;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: pointer;
}

.topicContainer:active 
{ 
    transform: translateY(5px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    background-color: #00ff15;

}

.selected-answer
{
	border: 1px solid #009ec1;
	background-color: #00d0ff;	
}

.selected
{
	border:0px;
	background-color: #00ff15;
}