.user
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	background-color: white;
}

.user:hover, .hidden:hover
{
	background-color: #f2f2f2;
}

.hidden
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	background-color: white;
}

.you
{
	border: 1px solid #858989;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:20px;
	background-color: #c0c6c6;
	font-weight: bold;
}