.user
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
	background-color: white;
	height:50px;
}

.user:hover, .hidden:hover
{
	background-color: #f2f2f2;
}

.hidden
{
	border: 1px solid #d6d6d6;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
	background-color: white;
	height:50px;
}

.you
{
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:10px;
	background-color: #6400a8;
	color: white;
	font-weight: bold;
	height:50px;
}

.icon
{
	width:30px;
}

.cell
{
	border-right: 1px solid red;
}
